body {
    background: lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 
}

.content{
    border: 1px solid rgb(146, 137, 137);
    width: 80vw;
    height: 60vh;
    margin-top: 10px;
    background-color:rgb(196, 192, 192) ;

    border-radius: .6rem;
}

.content .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
    background-color: rgb(172, 166, 166);
}

.content .items .btn1{

    width: 5rem;
    height: 2.7rem;

    border-radius: .6rem;
    color: rgb(19, 18, 18);
    background-color:rgb(212, 212, 53);
}

.content .items .btn2{

    width: 5rem;
    height: 2.7rem;

    border-radius: .6rem;
    color: white;
    background-color: rgb(230, 22, 22);
}

.content .add {
    position: absolute;
    align-items: center;
    
}

.content  button {
    width: 4rem;
    height: 4rem;

    border-radius: 2rem;
    border: none;
    background-color:rgb(30, 172, 30);

    
}